@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Bebas+Neue|Big+Shoulders+Text|Bowlby+One+SC|Caveat|Dancing+Script|Hind|Indie+Flower|Lato|Lobster|Montserrat|Open+Sans+Condensed:300|Oswald|Pacifico|Permanent+Marker|Playfair+Display|Raleway|Shadows+Into+Light|Staatliches|Teko|Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.navbar{
  position: fixed;
  height: 40px;
  overflow: hidden;
  top: 0;
  display: flex;
  align-items: center;
  background: rgb(65, 66, 69);
  width: 100%;
}
.logo{
  background: url(https://img.icons8.com/office/40/000000/virus-free.png) no-repeat 50% 50%;
  background-size: contain;
  width: 180px;
  height: 18px;
  float: left;
  margin-left:20px;
}
.menu{
  position: absolute;
  right: 20px;
}
.menu a{
  color: #fff;
  font-family: Caveat;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  margin-left: 20px;
  transition: color 0.3s;
  text-transform: uppercase;
}
.menu a:hover{
  color: #6ab04c;
}
.header{
  width: 100%;
  height: 600px;
  background: url(https://images.pexels.com/photos/3178786/pexels-photo-3178786.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat 50% 50%;
  background-size: cover;
  margin-top: 40px;
}
.btn{
  display: none;
  position: absolute;
  right: 20px;
}
.btn:hover > span{
  background: #6ab04c;
}
.btn span{
  display: block;
  margin: 6px;
  width: 40px;
  height: 3px;
  background: #333;
}
p{
  padding: 20px;
  font-size: 20px;
  text-align: justify;

}
@media only screen and (max-width : 600px) {
  .navbar{
    overflow: visible;
  }
  .menu{
    width: 100%;
    right: 0;
    top: 40px;
    background: #f1f1f1;
    overflow: hidden;
    max-height: 0;
  }
  .menu a{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  .btn{
    display: block;
    cursor: pointer;
  }
  .show{
    max-height: 500px;
  }
}

