@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
.landing {
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(https://cdn.pixabay.com/photo/2019/10/26/13/00/mushroom-4579415_960_720.jpg);
	display: table;
	top: 0;
	background-size: cover;
}
.landing .land {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.content {
	max-width: 550px;
	margin: 0 auto;
	text-align: center;
}
.content h1 {
	font-family: 'Oswald', sans-serif;
	color: #F9F3F4;
	text-shadow: 0px 0px 300px #000;
	font-size: 500%;
}
.btn {
	border-radius: 9px;
	font-family: 'Oswald', sans-serif;
	color: #9effc8;
	font-size: 135%;
	padding: 10px 20px;
	border: solid #ff8cee;
	text-transform: uppercase;
	text-decoration: none;
}
.btn:hover {
	color: #fff;
	border: solid #fff 3px;	
}
p {
	font-size: 160%;
	line-height: 210%;
	text-align: justify;
	margin: 3%;
	font-family: sans-serif;
}
@media screen and (max-width: 768px) {
	.content h1 {
		font-size: 250%;
	}
	.btn {
		font-size: 110%;
		padding: 7px 15px;
	}
	p {
		font-size: 100%;
		line-height: 160%;
	}
}
.footer{
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
  }
  .ftm{
    text-align: center;
    font: 15px 'Neuton', serif;
    color: white;
    opacity: 5.0;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);

  }
