body {
    text-align: center;
    font-family: "Arial";
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqzNLpBZNKdlgF0dQRhqBNBfH0ggBRpTR5qTYwUoDYxK55Su5qLQ);

}

.jesus {
    color: black;
}
