body {
    text-align: center;
    font-family: "Arial";
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_qEw3ZpT-y8lBXA8SAxCtN-ABcCu4wYpNOrYXY6EA5t-BeTEhhw);

}

.jesus {
    color: black;
}
