* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  position: relative;
  margin: auto;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 30px;
  position: absolute;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active {
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}